<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Signup Temple</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-expand">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Temple Signup</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Signup">Sign Up for a Tour!</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="jumbotron">
        <div class="container text-center">
            <h1>Layton Utah Temple Tours</h1>
            <h4>Thank you for visiting us. Click the "Sign Up for a Tour" button at the top to sign up for a time slot to tour the Layton Temple Site.</h4>
            <p></p>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <img src="~/img/layton_temple2.jpg" alt="layton temple" height="300" />
                <br />
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="ViewAppointments">Scheduled Appointments</a>
            </div>

            <div class="col-sm-9">
                @RenderBody()
            </div>

        </div>
    </div>

    <br />
    <br />
    <br />

    <footer class="border-top footer text-muted">
        &copy; Group 3-8: Samuel Hansen | Carter Shanklin | Samantha Berg | Allesandra Baker
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>