@model SignupTemple.Models.GroupInfo
<div class="text-center">
    <br />
    <p>Congratulations! Your reservation has been submitted.</p>
    <br />
    <p>Click <a asp-action="ViewAppointments">here</a> to view all scheduled appointments.</p>
    <p>Click <a asp-action="Index">here</a> to return to home page.</p>
</div>