@model IEnumerable<GroupInfo>

<p>This is the Index.cshtml (home) page!!</p>

<p>
    <b>Home Page:</b> This page will have a picture of the temple and the basic information
    regarding the tour, along with the ability to click a button to “Sign Up” for a tour
</p>

<img src="~/img/LTemple.jpg" />