@model IEnumerable<string>

<div>
    <h2>Please Choose an Appointment!</h2>
    <br />
    <br />
    @foreach (string s in Model)
    {
        <form asp-action="Signup" method="post">
            <label>Time:</label>
            <input id="time" name="time" value="@s" />
            <br />
            <button type="submit">Book Now!</button>
        </form>
    }
</div>